<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Planner a Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Event Planner Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta tags -->
<!-- custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/chocolat.css' %}" rel="stylesheet">
<!-- //custom Theme files -->
<!-- js -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- web-fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
<!-- //web-fonts --> 
</head>
<body>
 
	<div class="navigation" >
		<div class="container" >
		
		<!-- <div class="agileits-logo">
				<h1><a href="index.html">PLANiT</a></h1> 
			</div> -->
			<div class="agileits-logo" >
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" /></a>
			</div>
			<nav class="navbar navbar-default" >
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				</div> 
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1"> 
					<ul class="nav navbar-nav" style="margin-left: 9%;">
					   
						<li class="hvr-bounce-to-bottom button"><a href="#about" class="scroll">About<span class="sr-only">(current)</span></a></li>
						<li class="hvr-bounce-to-bottom button"><a href="#gallery" class="scroll">Gallery</a></li>
						<li class="hvr-bounce-to-bottom button"><a href="#services" class="scroll">Services</a></li>				
						<li class="hvr-bounce-to-bottom button"><a href="#team" class="scroll">Team</a></li>
						<li class="hvr-bounce-to-bottom button"><a href="#contact" class="scroll">Contact</a></li>
					
					</ul>
					<div class="social-icons">
						<ul>
							<a href="#" ><button class="button button1">SignUp</button></a>
							<a href="#" ><button class="button button1">SignIn</button></a>
						</ul>
					</div>
					
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
	<!-- sesarch bar-->
	<div class="search">
	 <h3 class="refine-search-heading">Refine Your Search</h3>
	  
					<input type="hidden" name="current_category" id="current_category" value="Decorators">
                    <select  class="row" id="category" name="category" tabindex="-1" aria-hidden="true">
                        <option value="-1">All Categories</option>
                        <option value="Venues">Venues</option>

                        <option value="Photographers">Photographers</option>

                        <option value="Caterers">Caterers</option>

                        <option value="Car Rentals">Car Rentals</option>

                        <option selected="selected" value="Decorators">Decorators</option>

                        <option value="Event Managers">Event Managers</option>

                        <option value="Salons">Salons</option>

                       <option value="Cakes">Cakes</option>

                        <option value="Invitations">Invitations</option>

                        
                    </select>
					
				
                  <input type="hidden" name="current_City" id="current_City" value="">
                  <select  class="row1" id="city_name" value="" name="city_name" tabindex="-1" aria-hidden="true">
                    <option value="-1">All Cities</option>
                                           <option value="Faisalabad">Faisalabad</option>

                                           <option value="Gujranwala">Gujranwala</option>

                                           <option value="Lahore">Lahore</option>

                                           <option value="Multan">Multan</option>

                                           <option value="Rawalpindi">Rawalpindi</option>

                                           <option value="Sialkot">Sialkot</option>

                                           <option value="Karachi">Karachi</option>

                                           <option value="Islamabad">Islamabad</option>

                                           <option value="Peshawar">Peshawar</option>

                                      </select>
				<select class="row2" class="form-control input-lg select2-area select2-hidden-accessible" id="area" name="area" tabindex="-1" aria-hidden="true">
                      <option value="-1">All Areas</option>
                                                   <option value="2">Bahria Town</option>

                                                   <option value="5">Eden Canal Villas</option>

                                                   <option value="6">Eden Homes</option>

                                                   <option value="9">Thokar Niaz Baig</option>

                                                   <option value="13">Allama Iqbal Town</option>

                                                   <option value="15">Sabzazar</option>

                                                   <option value="16">Samanabad</option>

                                                   <option value="17">Ichhra</option>

                                                   <option value="18">Wahdat Colony</option>

                                                   <option value="19">Gulshan E Ravi</option>

                                                   <option value="21">Band Road</option>

                                                   <option value="24">Islam Pura</option>

                                                   <option value="26">Bilal Gang</option>

                                                   <option value="28">Karim Park</option>

                                                   <option value="29">Ravi Road</option>

                                                   <option value="31">Shad Bagh</option>

                                                   <option value="37">Baghban Pura</option>

                                                   <option value="40">Shalimar Town</option>

                                                   <option value="47">Mughal Pura</option>

                                                   <option value="54">New PAF Colony</option>

                                                   <option value="58">Burj Colony</option>

                                                   <option value="59">Canal Road</option>

                                                   <option value="60">Canal View Colony</option>

                                                   <option value="63">Tech Society</option>

                                                   <option value="71">New Garden Town</option>

                                                   <option value="72">Muslim Town</option>

                                                   <option value="73">Shadman Colony</option>

                                                   <option value="75">Shah Jamal</option>

                                                   <option value="76">Johar Town</option>

                                                   <option value="77">PIA Society</option>

                                                   <option value="81">Peco Road</option>

                                                   <option value="82">Faisal Town</option>

                                                   <option value="83">Model Town</option>

                                                   <option value="85">Wafaqi Colony</option>

                                                   <option value="86">Township</option>

                                                   <option value="87">Kot Lakhpat</option>

                                                   <option value="95">Punjab Govt Employs Coparative Society</option>

                                                   <option value="96">Raiwind Road</option>

                                                   <option value="97">Lake City</option>

                                                   <option value="101">Main Khayaban Road</option>

                                                   <option value="106">NFC Town</option>

                                                   <option value="107">Wapda Town</option>

                                                   <option value="109">Nespak Society</option>

                                                   <option value="110">Anar Kali</option>

                                                   <option value="111">Mall Road</option>

                                                   <option value="113">Davis Road</option>

                                                   <option value="114">Garhi Shahu</option>

                                                   <option value="116">Dharampura</option>

                                                   <option value="117">Mayo Hospital</option>

                                                   <option value="118">Gawal Mandi</option>

                                                   <option value="123">Jail Road</option>

                                                   <option value="124">Mazang</option>

                                                   <option value="128">Gulberg 1</option>

                                                   <option value="129">Gulberg 2</option>

                                                   <option value="130">Gulberg 3</option>

                                                   <option value="132">Askari Colony</option>

                                                   <option value="133">Gulbahar Colony</option>

                                                   <option value="134">Madina Colony</option>

                                                   <option value="135">Walton Road</option>

                                                   <option value="136">Ghazi Road</option>

                                                   <option value="137">Chungi Amer Sadhu</option>

                                                   <option value="141">Abdalian Housing Society</option>

                                                   <option value="142">Bedian Road</option>

                                                   <option value="143">Alfalah Town</option>

                                                   <option value="145">Cavalry Ground</option>

                                                   <option value="146">Super Town</option>

                                                   <option value="148">Punjab Society Near Dha</option>

                                                   <option value="149">Sui Gas Society</option>

                                                   <option value="150">State Life Society</option>

                                                   <option value="151">DHA 1</option>

                                                   <option value="152">DHA 2</option>

                                                   <option value="153">DHA 3</option>

                                                   <option value="154">DHA 4</option>

                                                   <option value="155">DHA 5</option>

                                                   <option value="156">DHA 6</option>

                                                   <option value="158">DHA 8</option>

                                                   <option value="159">Lidhar</option>

                                                   <option value="162">Airport Road</option>

                                                   <option value="163">Cantt</option>

                                                   <option value="178">Barki Road</option>

                                                   <option value="179">Paragon City</option>

                                                   <option value="183">Civic Center</option>

                                                   <option value="190">Aurangzeb Block</option>

                                                   <option value="197">Ali Block</option>

                                                   <option value="198">Garden Block</option>

                                                   <option value="203">Gulberg 4</option>

                                                   <option value="204">Ferozpur Road</option>

                                                   <option value="205">CMA Colony</option>

                                                   <option value="207">Saddar</option>

                                                   <option value="209">Upper Mall Scheme</option>

                                                   <option value="211">Quaid e Azam Industrial Estate</option>

                                                   <option value="215">Sarwar Road</option>

                                                   <option value="216">Taj Bagh</option>

                                                   <option value="218">Moon Market</option>

                                                   <option value="220">Shaikh Zayed Hospital</option>

                                                   <option value="221">Gulshan Block</option>

                                                   <option value="222">Shaukat Khanum Hospital</option>

                                                   <option value="229">Izmir Town</option>

                                                   <option value="233">Main Gulberg Boulevard</option>

                                                   <option value="235">M M Alam Road</option>

                                                   <option value="237">Multan Road</option>

                                                   <option value="249">Maraghzar Colony</option>

                                                   <option value="257">Rachna Block</option>

                                                   <option value="259">Sutlej Block</option>

                                                   <option value="262">Zeenat Block</option>

                                                   <option value="271">Tufail Road</option>

                                                   <option value="280">Valencia Town Block A1</option>

                                                   <option value="284">Valencia Town Block F</option>

                                                   <option value="289">Valencia Town Block K1</option>

                                                   <option value="1595">Edgerton Road </option>

                                                   <option value="1600">Allama Iqbal Road</option>

                                                   <option value="1605">Abbott Road</option>

                                                   <option value="1608">HBFC Society</option>

                                                   <option value="1962">Daroghe Wala</option>

                                                   <option value="1967">Poonch Road</option>

                                                   <option value="2821">Batapur</option>

                                            </select>    
											 <input type="hidden" name="current_City" id="current_City" value="">
                  <select  class="row3" id="city_name" value="" name="city_name" tabindex="-1" aria-hidden="true">
                    <option value="-1">price</option>
                                           <option value="Faisalabad">0-500</option>

                                           <option value="Gujranwala">500-1000</option>

                                           <option value="Lahore">1000-1500</option>

                                           <option value="Multan">other</option>

                                         

                                      </select>
              </div>  
               
	</div>
			   
	
	


	
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 9000);    
}
</script>
	
	
	
	<!-- gallery -->
	<div id="gallery" class="gallery">
		<div class="container">
			<h3 class="w3ls-tittle">Decor Types</h3>
			<div class="gallery-wthreegrids">
			
				<!-- EIGHTH EXAMPLE -->
				
				<div class="view view-eighth">
					<a href="images/arch.webp" title="Image Title"><img src="images/arch1.webp" alt="" />
						<div class="w3lmask">
							<h4> Arch </h4>
							</div>
					</a>
				</div>
				
				<div class="view view-eighth">
					<a href="images/centerpiece.webp" title="Image Title"><img src="images/centerpiece.webp" alt="" />
						<div class="w3lmask">
							<h4> CenterPieces</h4>
							</div>
					</a>
				</div>
				<div class="view view-eighth">
					<a href="images/g3.jpg" title="Image Title"><img src="images/column.webp" alt="" />
						<div class="w3lmask">
							<h4> Columns</h4>
							</div>
					</a>
				</div>
				<div class="view view-eighth">
					<a href="images/g4.jpg" title="Image Title"><img src="images/stage.jpg" alt="" />
						<div class="w3lmask">
							<h4> StageDecor </h4>
							</div>
					</a>
				</div>
				<div class="view view-eighth">
					<a href="images/g5.jpg" title="Image Title"><img src="images/flower.webp" alt="" />
						<div class="w3lmask">
							<h4> Flowers </h4>
							</div>
					</a>
				</div>
				<div class="view view-eighth">
					<a href="images/g6.jpg" title="Image Title"><img src="images/drops.webp" alt="" />
						<div class="w3lmask">
							<h4> Drops & pops </h4>
							</div>
					</a>
				</div>
				<div class="view view-eighth">
					<a href="images/g7.jpg" title="Image Title"><img src="images/namenum.webp" alt="" />
						<div class="w3lmask">
							<h4> Names and Numbers</h4>
							</div>
					</a>
				</div>
				<div class="view view-eighth">
					<a href="images/g8.jpg" title="Image Title"><img src="images/light.jpg" alt="" />
						<div class="w3lmask">
							<h4> Lights </h4>
							</div>
					</a>
				</div>
				<div class="view view-eighth">
					<a href="images/g2.jpg" title="Image Title"><img src="images/dance.webp" alt="" />
						<div class="w3lmask">
							<h4> DanceFloor </h4>
							</div>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<script src="js/jquery.chocolat.js"></script> 
			<!-- light-box-files -->
			<script type="text/javascript">
			$(function() {
				$('.gallery a').Chocolat();
			});
			</script> 
		</div>
	</div>
	<!-- //gallery -->
	
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="w3ls-tittle">Contact</h3>
			<div class="contact-bottom w3-agileits">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.39147015461!2d11.968411315519182!3d51.48768331996591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a66353e6e3b99d%3A0xd664817f7142f654!2sRadio+ Event Planner!5e0!3m2!1sen!2sin!4v1446724465130" ></iframe>
			</div> 
			<div class="col-md-7 contact-left">
				<h3>Contact Form</h3>
				<form action="#" method="post">
					<input type="text" name="Name" placeholder="Name" required="">
					<input type="text" name="Email" placeholder="Email" required="">
					<input type="text" name="Telephone" placeholder="Telephone" required="">
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="Submit" >
				</form>
			</div>
			<div class="col-md-5 contact-left">
				<h3>Address</h3>
				<p> PLANiT</p>
				<ul>
					<li>Diamond street,</li>
					<li>260-14 City, Country</li>
					<li>+12 000-0000-00</li>
					<li>Phone : +2 333 444 555</li>
					<li>Mail : <a href="mailto:info@example.com">planIt@example.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //contact -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-left agileits-w3layouts">
				<p>&copy; 2017 Event Planner. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
			</div> 
			<div class="social-icons">
						<ul>
							<li><a href="#" class="f1"></a></li>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#" class="f3"></a></li>
							<li><a href="#" class="f4"></a></li>
						</ul>
					</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer --> 
	<script src="js/smoothscroll.min.js"></script>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>